{% set basepath = app.request.basepath %}

<!doctype html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="description">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Anniversaryyy</title>
    <link rel="stylesheet" href="{{ basepath }}/styles/main.css">

    {% block styles %}{% endblock %}
</head>
<body>
<!--[if lt IE 9]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
    your browser</a> to improve your experience.</p>
<![endif]-->

{% block content %}{% endblock %}

{% block scripts %}
    <script src={{ basepath }}/scripts/vendor.js></script>
    <script src={{ basepath }}/scripts/jquery.scrollTo.js></script>
    <script src={{ basepath }}/scripts/main.js></script>
{% endblock %}
</body>
</html>