{% extends 'base.twig' %}

{% block content %}
  <h1 class="h2-like">Page non trouvée</h1>
  <p>La page demandée "{{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) | slice(1) }}" n'existe pas.</p>
{% endblock %}