{% extends "base.twig" %}

{% form_theme form _self %}

{%  block content %}

    <h1>KDO</h1>

    {% for g in gifts %}
        {{ g.name }}
    {% endfor %}

    <form action="" method="post">
        {{ form_widget(form) }}

        <input type="submit" value="Valider"/>
    </form>


{% endblock %}

{% block scripts %}
    {{ parent() }}

{% endblock %}